@model IEnumerable<PizzaCommandProj_Management.Models.Dish>

@{
    ViewData["Title"] = "AllDishes";
}

<h1>All Dishes</h1>

<p>
    <a asp-action="NewDish">Add New Dish</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contain)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDish", new { dishId = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteDish", new { dishId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="AllOrders">Orders</a>
</p>

